h1 {
  padding-bottom: 4px;
  margin-top: 24px;
  font-size: 28px;
  font-family: raleway;
  font-weight: 600;
  border-bottom: 1px solid #e4e4e4;
}

a, a:visited, a:hover {
  text-decoration: none;
}

body {
  background-color: #ffffff;
}
