// Specific CSS for your home-page

h2 {
  text-align: center;
  margin-top: 24px;
  color: #231f20;
  font-weight: bold;
  font-family: 'vollkorn';
  margin-bottom: 20px;
}

.banner-container {
  background-image: url("https://images.unsplash.com/photo-1558979159-2b18a4070a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80");
  margin: 0px;
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-position: 10% 90%;
}

.main-cards {
  margin-top: 1000px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  margin-bottom: 50px;
}

.main-card {
  width: 160px;
  height: 160px;
  text-align: center;
  margin: 20px;
  border: 1px solid rgba(240, 240, 240, 0.5);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  font-weight: bold;
  background-color: whit#C1C1C1e;
}

.main-card p {
  // color: #12633D;
  color: #412DB4;
  font-family: 'vollkorn';
  font-weight: bold;
  font-size: 18px;
}

.fas, .far {
  font-size: 50px;
  color: #4831C9;
  // color: #21bf73 ;
  margin-bottom: 10px;
}





.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 12px;
  background-color: rgba(220, 220, 220, 0.4);
  height: 60px;
}

.list-inline {
  list-style: none;
  padding-top: 20px;
}

.list-inline li {
  display: inline;
  margin-top: 0px;
}

.font-icon {
  font-size: 30px;
  margin: 80px 2px;
  color: grey;
}

.font-icon:hover {
  color: #0B3E89;
}

.footer p {

}

