<!-- <h1 style="text-align: center; margin-top: 24px;">My bookings</h1>
<div class="container">

<% @bookings.each do |booking| %>
  <div class="cardy">
    <img style="width: 200px; height:150px" src="https://images.unsplash.com/photo-1587971051803-70bf6d4ae977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80" alt="">
    <div class="cardy-description">
    <h3><%= motorcycle.description %></h3>
    <p>May 20 - 25</p>
    <%= link_to 'Go to listing', motorcycle_path(booking.motorcycle) %>
    </div>
  </div>
<% end %> -->

  <!-- <div class="cardy">
    <img style="width: 200px; height:150px" src="https://images.unsplash.com/photo-1587971051803-70bf6d4ae977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80" alt="">
    <div class="cardy-description">
    <h3>2019 Kawasaki Ninja 400</h3>
    <p>May 20 - 25</p>
    <a href="#">Go to listing</a>
    </div>
  </div>

  <div class="cardy">
    <img style="width: 200px; height:150px" src="https://images.unsplash.com/photo-1587971051803-70bf6d4ae977?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80" alt="">
    <div class="cardy-description">
    <h3>2019 Kawasaki Ninja 400</h3>
    <p>May 20 - 25</p>
    <a href="#">Go to listing</a>
    </div>
  </div>

</div>
 -->
