<div class="container">
  <h1 style="margin-top: 24px; font-size: 28px; font-weight: 600; font-family: raleway">My Bookings</h1>

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active text-dark" href="<% upcoming_bookings_bookings_path %>">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="<%=  past_bookings_bookings_path %>">Past</a>
  </li>

</ul>

  <%= render 'bookings_cards' %>

</div>

