<div class="container">
  <h1 style=" padding-bottom: 4px; margin-top: 24px; font-size: 28px; font-family: raleway; font-weight: 600; border-bottom: 1px solid #e4e4e4;">My Profile</h1>

  <div class="mt-4">
    <div class="m-auto" style="width: 550px">

      <%= simple_form_for [@user] do |f| %>
        <%= f.input :photo, label: 'Attach a photo for your avatar',  as: :file%>
        <div class="mb-5">
          <%= f.submit "Upload", class: "btn btn-dark" %>
        </div>
      <% end %>
    </div>


