<div class="banner-container">
</div>

<h2 class="mt-5">
  How Justride works
</h2>

<div class="main-cards">

  <div class="main-card">
    <i class="fas fa-search"></i>
    <p>1. Search</p>
  </div>

  <div class="main-card">
    <i class="far fa-calendar-alt"></i>
    <p>2. Book</p>
  </div>

  <div class="main-card">
    <i class="fas fa-biking"></i>
    <p>3. Ride</p>
  </div>
</div>

<div class="container">
  <div class="footer">
    <ul class="list-inline">
      <li>
        <a href="#" class="font-icon" onClick="return false;">
        <i class="fab fa-facebook"></i>
        </a>
      </li>

      <li>
        <a href="#" class="font-icon" onClick="return false;">
          <i class="fab fa-instagram-square"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
