// .moto-container {
//   display: flex;
// }
// .moto-cards {
//  display: grid;
//  grid-template-columns: 1fr;
//  padding-left: 8px;
//  padding-right: 8px;
// }
// .moto-card {
//  display: flex;
//   height: 150px;
//   border-bottom: 1px solid #E3E3E3;
//   padding-bottom: 8px;
// }
// .moto-card-top-info {
//   position: relative;

// }
// .moto-card-middle-info {
//   position: relative;

// }
// .moto-card-bottom-info {
//   display: flex;
//   justify-content: space-between;
// }
// .moto-card-img {
//   padding-right: 8px;
// }

// .container {

//   display: flex;
// }

// #map {
//   position: sticky;
//   height: 100vh;
//   top: 0;
// }


.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
