.container-fluid {
  display: flex;
  margin: 0px 0px;
  padding: 0px 0px;
}

.row {
  overflow: hidden;
}

.moto-cards {
  display: list-item;
}

.card-product {
  // overflow: hidden;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px 8px;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 5px;
  font-family: raleway;
}

.card-product img {
  height: 140px;
  width: 260px;
  object-fit: cover;
  border-radius: 5px;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
  padding-left: 8px;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 0px 8px;
}

.card-product a {
  text-decoration: none;
}

.card-product .card-product-infos {
  height: 150px;
  align-items: center;
}

// .card-product .card-product-infos p {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 400px;
// }

.overflow-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}


.card-product .card-product-infos:hover{
 background-color: #e5e5e5;
}

.card-product .card-product-infos .card-product-infos-top {
  border-bottom: 1px solid #e5e5e5;
  width: 420px;
  margin-top: 8px;
   padding-bottom: 8px;
}

.card-product-infos .card-product-infos-bottom p {
display: flex;
align-items: flex-end;
}

.card-product-infos-middle {
 display: flex;
}

.card-product-infos-middle p {
 font-size: 10px;
}

.card-product-infos-bottom {
  display: flex;
  justify-content: space-between;
}

.photo-size {
  font-family: raleway;
}

.photo-size img {
  width: 200px;
  height: 120px;
  border-radius: 4px;
  object-fit: cover;
}

