#map {
  position: sticky;
}
.mapboxgl-popup {
  max-width: 200px;
  max-height: 350px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0px;
}

.mapboxgl-popup-content .card-product-infos:hover{
 background-color: #e5e5e5;
}
