// require("@rails/ujs").start()
// require("@rails/activestorage").start()
// require("channels")

// import "bootstrap";
// import { initMapbox } from '../plugins/init_mapbox';

//  initMapbox();



 // This file is automatically compiled by Webpack, along with any other files
 // present in this directory. You're encouraged to place your actual application logic in
 // a relevant structure within app/javascript and only use these pack files to reference
 // that code so it'll be compiled.




    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->



    <!-- <%= stylesheet_link_tag 'application', media: 'all' %> -->
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <!-- <%= javascript_pack_tag 'application' %> -->




<!--
        <div id="comments">
          <%= render 'shared/comments' %>
        </div>
 -->
